/****** Object:  Table [dbo].[Customer]    Script Date: 29-12-2015 00:00:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[Email] [nvarchar](256) NOT NULL,
	[Contact] [nvarchar](11) NOT NULL,
	[Employer] [nvarchar](256) NULL,
	[Password] [nvarchar](64) NOT NULL,
	[Active] [bit] NOT NULL CONSTRAINT [DF_Customer_Active]  DEFAULT ((0)),
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FoodItem]    Script Date: 29-12-2015 00:00:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FoodItem](
	[Id] [uniqueidentifier] NOT NULL,
	[VendorId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Description] [nvarchar](3000) NULL,
	[Type] [int] NOT NULL,
	[LastUpdate] [datetime] NULL,
 CONSTRAINT [PK_FoodItem] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Menu]    Script Date: 29-12-2015 00:00:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[Id] [uniqueidentifier] NOT NULL,
	[Type] [int] NOT NULL,
	[VendorId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Menu] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MenuFoodItem]    Script Date: 29-12-2015 00:00:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuFoodItem](
	[Id] [uniqueidentifier] NOT NULL,
	[Type] [int] NOT NULL,
	[FoodItemId] [uniqueidentifier] NOT NULL,
	[VendorId] [uniqueidentifier] NOT NULL,
	[Availability] [bit] NOT NULL,
 CONSTRAINT [PK_MenuFoodItem] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Order]    Script Date: 29-12-2015 00:00:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[Id] [uniqueidentifier] NOT NULL,
	[CustomerId] [uniqueidentifier] NOT NULL,
	[VenderId] [uniqueidentifier] NOT NULL,
	[SubTotal] [decimal](18, 2) NOT NULL,
	[ServiceTax] [decimal](18, 2) NOT NULL,
	[Vat] [decimal](18, 2) NOT NULL,
	[Discount] [decimal](18, 2) NOT NULL,
	[Total] [decimal](18, 2) NOT NULL,
	[TimeSlot] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[PaymentStatus] [int] NOT NULL,
	[OrderDateTime] [datetime2](7) NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrderItem]    Script Date: 29-12-2015 00:00:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItem](
	[Id] [uniqueidentifier] NOT NULL,
	[OrderId] [uniqueidentifier] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
	[FoodItemId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_OrderItem] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Payment]    Script Date: 29-12-2015 00:00:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[Id] [uniqueidentifier] NOT NULL,
	[OrderId] [uniqueidentifier] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[TransactionId] [nvarchar](500) NOT NULL,
	[PaymentVia] [nvarchar](100) NOT NULL,
	[PaymentStatus] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_Payment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Site]    Script Date: 29-12-2015 00:00:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Site](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[Address] [nvarchar](256) NOT NULL,
	[Contact] [nvarchar](11) NULL,
	[Owner] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_Site] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Vendor]    Script Date: 29-12-2015 00:00:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendor](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[Email] [nvarchar](256) NOT NULL,
	[Contact] [nvarchar](11) NOT NULL,
	[Password] [nvarchar](64) NOT NULL,
	[SiteId] [uniqueidentifier] NOT NULL,
	[ShopNo] [nvarchar](8) NULL,
	[Logo] [nvarchar](1000) NULL,
	[Active] [bit] NOT NULL CONSTRAINT [DF_Vendor_Active]  DEFAULT ((0)),
 CONSTRAINT [PK_Vendor] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Customer] ([Id], [Name], [Email], [Contact], [Employer], [Password], [Active]) VALUES (N'acb20936-bc6b-4e81-8fe8-2145ef51460a', N'new', N'new@gmail.com', N'9898989898', NULL, N'12345', 0)
GO
INSERT [dbo].[Customer] ([Id], [Name], [Email], [Contact], [Employer], [Password], [Active]) VALUES (N'33f6ec56-aeab-44e1-aedf-41138a6713b2', N'Sanjeet', N'sanjeet1827@gmail.com', N'9899138026', NULL, N'12345', 1)
GO
INSERT [dbo].[Customer] ([Id], [Name], [Email], [Contact], [Employer], [Password], [Active]) VALUES (N'db29d266-81fd-4042-942d-5aea09c6b826', N'Ravi', N'ravi@gmail.com', N'9878237654', NULL, N'12345', 1)
GO
INSERT [dbo].[FoodItem] ([Id], [VendorId], [Name], [Price], [Description], [Type], [LastUpdate]) VALUES (N'e572d8e4-74f7-4276-894d-019369416d5e', N'a8c3d129-8f19-4e4b-b3b6-39f9a8bd8df0', N'Butter Roti', CAST(22.00 AS Decimal(18, 2)), N'', 2, CAST(N'2015-12-28 22:33:48.800' AS DateTime))
GO
INSERT [dbo].[FoodItem] ([Id], [VendorId], [Name], [Price], [Description], [Type], [LastUpdate]) VALUES (N'039b7404-d7d6-46dc-adc6-0504c1c08db3', N'a8c3d129-8f19-4e4b-b3b6-39f9a8bd8df0', N'Veg Patty', CAST(22.00 AS Decimal(18, 2)), N'', 1, CAST(N'2015-12-28 22:25:13.080' AS DateTime))
GO
INSERT [dbo].[FoodItem] ([Id], [VendorId], [Name], [Price], [Description], [Type], [LastUpdate]) VALUES (N'23db12ce-3b62-47a1-a75b-054f33401ef0', N'bfbd3bb7-b1f5-4159-b5bd-5f3cf1fc0869', N'Stuffed Bread', CAST(100.00 AS Decimal(18, 2)), N'Cheese,Backed, vegitabled filled', 1, CAST(N'2015-12-27 00:16:54.067' AS DateTime))
GO
INSERT [dbo].[MenuFoodItem] ([Id], [Type], [FoodItemId], [VendorId], [Availability]) VALUES (N'e52df8b0-d2aa-4d15-973a-006740613bfb', 1, N'23db12ce-3b62-47a1-a75b-054f33401ef0', N'bfbd3bb7-b1f5-4159-b5bd-5f3cf1fc0869', 1)
GO
INSERT [dbo].[MenuFoodItem] ([Id], [Type], [FoodItemId], [VendorId], [Availability]) VALUES (N'8e812d99-50e1-4772-9fb9-0168ee0313d6', 4, N'ca654b48-e767-44af-a688-825585457b62', N'a8c3d129-8f19-4e4b-b3b6-39f9a8bd8df0', 1)
GO
INSERT [dbo].[MenuFoodItem] ([Id], [Type], [FoodItemId], [VendorId], [Availability]) VALUES (N'079024a3-cf81-4134-863b-06a0b208dfb1', 2, N'ba94a909-3054-47b2-8d78-6ba67ef58342', N'bfbd3bb7-b1f5-4159-b5bd-5f3cf1fc0869', 1)
GO
INSERT [dbo].[Order] ([Id], [CustomerId], [VenderId], [SubTotal], [ServiceTax], [Vat], [Discount], [Total], [TimeSlot], [Status], [PaymentStatus], [OrderDateTime]) VALUES (N'f2ab504a-bd5f-4a86-bc19-3b2d35a5b0a7', N'33f6ec56-aeab-44e1-aedf-41138a6713b2', N'a8c3d129-8f19-4e4b-b3b6-39f9a8bd8df0', CAST(72.00 AS Decimal(18, 2)), CAST(14.00 AS Decimal(18, 2)), CAST(8.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(94.00 AS Decimal(18, 2)), 1, 0, 0, NULL)
GO
INSERT [dbo].[Order] ([Id], [CustomerId], [VenderId], [SubTotal], [ServiceTax], [Vat], [Discount], [Total], [TimeSlot], [Status], [PaymentStatus], [OrderDateTime]) VALUES (N'a795e479-5e15-4470-92a5-f7f55fab0f05', N'33f6ec56-aeab-44e1-aedf-41138a6713b2', N'a8c3d129-8f19-4e4b-b3b6-39f9a8bd8df0', CAST(521.00 AS Decimal(18, 2)), CAST(14.00 AS Decimal(18, 2)), CAST(8.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(543.00 AS Decimal(18, 2)), 1, 0, 0, NULL)
GO
INSERT [dbo].[OrderItem] ([Id], [OrderId], [Price], [Quantity], [FoodItemId]) VALUES (N'0f769efc-23b6-4ac2-925c-3d096c1a5638', N'a795e479-5e15-4470-92a5-f7f55fab0f05', CAST(175.00 AS Decimal(18, 2)), 1, N'b8660a8d-6179-4d9a-bfd2-92b86f5ecbaf')
GO
INSERT [dbo].[OrderItem] ([Id], [OrderId], [Price], [Quantity], [FoodItemId]) VALUES (N'a4ac3c7a-2b49-4a66-8473-50bcce63f4aa', N'a795e479-5e15-4470-92a5-f7f55fab0f05', CAST(115.00 AS Decimal(18, 2)), 1, N'1336e032-a3f5-4d20-af8b-3ec5b47185f7')
GO
INSERT [dbo].[OrderItem] ([Id], [OrderId], [Price], [Quantity], [FoodItemId]) VALUES (N'f58a47ea-3ce5-4c7c-b65b-a7451d905ce8', N'f2ab504a-bd5f-4a86-bc19-3b2d35a5b0a7', CAST(22.00 AS Decimal(18, 2)), 1, N'039b7404-d7d6-46dc-adc6-0504c1c08db3')
GO
INSERT [dbo].[Payment] ([Id], [OrderId], [Amount], [TransactionId], [PaymentVia], [PaymentStatus]) VALUES (N'3f120af2-69a2-4c36-b74f-85822f431f87', N'a795e479-5e15-4470-92a5-f7f55fab0f05', CAST(543.00 AS Decimal(18, 2)), N'980bbfbba61a54745a30', N'PayUMoney', N'failure')
GO
INSERT [dbo].[Payment] ([Id], [OrderId], [Amount], [TransactionId], [PaymentVia], [PaymentStatus]) VALUES (N'55864a98-dfec-44ee-96f3-aba7f12a1c91', N'f2ab504a-bd5f-4a86-bc19-3b2d35a5b0a7', CAST(94.00 AS Decimal(18, 2)), N'1e79d8117841bd174ca9', N'PayUMoney', N'failure')
GO
INSERT [dbo].[Site] ([Id], [Name], [Address], [Contact], [Owner]) VALUES (N'43f88769-aebf-4eb0-be7d-463caf83be3a', N'Ansal Tower', N'', N'', N'')
GO
INSERT [dbo].[Site] ([Id], [Name], [Address], [Contact], [Owner]) VALUES (N'c92162e9-1f04-45ce-bf09-e16816a4d740', N'DLF Tower Phase 2', N'', N'', N'')
GO
INSERT [dbo].[Vendor] ([Id], [Name], [Email], [Contact], [Password], [SiteId], [ShopNo], [Logo], [Active]) VALUES (N'a8c3d129-8f19-4e4b-b3b6-39f9a8bd8df0', N'Fulwari', N'kavita.singh1218@gmail.com', N'9898989898', N'1234', N'43f88769-aebf-4eb0-be7d-463caf83be3a', N'122', N'../../Content/VendorLogo/a8c3d129-8f19-4e4b-b3b6-39f9a8bd8df0_logo.png', 1)
GO
INSERT [dbo].[Vendor] ([Id], [Name], [Email], [Contact], [Password], [SiteId], [ShopNo], [Logo], [Active]) VALUES (N'bfbd3bb7-b1f5-4159-b5bd-5f3cf1fc0869', N'Pizza Hut', N'pizzahut@gmail.com', N'979879', N'1234', N'43f88769-aebf-4eb0-be7d-463caf83be3a', N'103', N'../../Content/VendorLogo/467550f3-dc21-46a1-87f4-da935cde4659_logo.png', 1)
GO
INSERT [dbo].[Vendor] ([Id], [Name], [Email], [Contact], [Password], [SiteId], [ShopNo], [Logo], [Active]) VALUES (N'9d58740d-7927-4d12-98ae-8e447c3c84d2', N'KFC', N'kfc@gmail.com', N'987979877', N'1234', N'43f88769-aebf-4eb0-be7d-463caf83be3a', N'104', N'../../Content/VendorLogo/9D58740D-7927-4D12-98AE-8E447C3C84D2_logo.png', 1)
GO
ALTER TABLE [dbo].[FoodItem]  WITH CHECK ADD  CONSTRAINT [FK_FoodItem_Vendor] FOREIGN KEY([VendorId])
REFERENCES [dbo].[Vendor] ([Id])
GO
ALTER TABLE [dbo].[FoodItem] CHECK CONSTRAINT [FK_FoodItem_Vendor]
GO
ALTER TABLE [dbo].[Menu]  WITH CHECK ADD  CONSTRAINT [FK_Menu_Vendor] FOREIGN KEY([VendorId])
REFERENCES [dbo].[Vendor] ([Id])
GO
ALTER TABLE [dbo].[Menu] CHECK CONSTRAINT [FK_Menu_Vendor]
GO
ALTER TABLE [dbo].[MenuFoodItem]  WITH CHECK ADD  CONSTRAINT [FK_MenuFoodItem_FoodItem] FOREIGN KEY([FoodItemId])
REFERENCES [dbo].[FoodItem] ([Id])
GO
ALTER TABLE [dbo].[MenuFoodItem] CHECK CONSTRAINT [FK_MenuFoodItem_FoodItem]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Customer_Order] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([Id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Customer_Order]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [FK_OrderItem_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([Id])
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [FK_OrderItem_Order]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([Id])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_Order]
GO
ALTER TABLE [dbo].[Vendor]  WITH CHECK ADD  CONSTRAINT [FK_Vendor_Site] FOREIGN KEY([SiteId])
REFERENCES [dbo].[Site] ([Id])
GO
ALTER TABLE [dbo].[Vendor] CHECK CONSTRAINT [FK_Vendor_Site]
GO
