<div class="page-wrapper js-sticky-height-calculate-container">
    <div class="content-wrapper">

        <header class="">

            <div class="container">
                <a ui-sref="shell.init" class="header-logo ">
                    <img alt="Logo" src="../../Content/Images/jainit-infosoft-logo.png">
                </a>

                <div class="header-links hidden-print">
                    <ul class="header-links__list">

                        <li class="header-links__contact-us">
                            <a>
                                <span class="label">Help</span>
                            </a>
                        </li>

                        <li class="header-links__customer-account" >
                            <div class="dropdown" >
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a ui-sref="shell.customerOrderHistory">Order History</a></li>
                                    <li><a href="javascript:void(0)" ng-click="signOut()">Sign Out</a></li>
                                </ul>
                            </div>
                            <a href="javascript:void(0)" class="js-auth-login">
                                <span class="label">Log in or Sign up</span>

                            </a>
                        </li>
                    </ul>



                </div>
            </div>
            <div class="hidden-print" style="width: 15%;background-color: lightblue;position: fixed;top: 0;right: 0;z-index: 5;">
                <table>
                    <tr>
                        <td style="font-size: large;padding-left: 2px;">
                            Your order got just ready
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-top: 5px;padding-bottom: 5px;padding-top: 5px;padding-bottom: 5px;padding-left: 2px;">
                            Order Id <a></a>
                        </td>
                    </tr>
                </table>
            </div>
        </header>
    </div>
</div>
<div class="js-change-location-box-add-target">


    <div class="location-search-ajax-container js-location-search-ajax-container has-complete-location  " data-sticky-top-margin="0">
        <div class="container">

            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">

                    <div class="item" ng-class="{'active':($index==0)}" ng-repeat="item in vModel.vendors" ng-init="parentIndex = $index">

                        <span>
                            
                        </span>

                    </div>

                </div>


                <a class="left carousel-control" style="background-image:url('../../Content/Images/prev.png');background-repeat: no-repeat;" href="#myCarousel" role="button" ng-non-bindable data-slide="prev">
                    <!--<i class="fa fa-arrow-circle-left"></i>-->
                </a>
                <a class="right carousel-control" style="background-image:url('../../Content/Images/next.png');background-repeat: no-repeat;" href="#myCarousel" role="button" ng-non-bindable data-slide="next">
                    <!--<i class="fa fa-arrow-circle-right"></i>-->
                </a>
            </div>

        </div>

    </div>


</div>

<div class="hidden-print">
    <div class="nav-wrap">
        <ul class="group" id="mainmenu">
            <li>
                <a>Add Items</a>
            </li>
            <li class="current_page_item"><a>Current Menu</a></li>
            <li class="current_page_item"><a>Order Status</a></li>
        </ul>

    </div>
</div>
<div class="hidden-print" style="width: 15%;background-color: lightblue;position: fixed;bottom: 0;right: 0;z-index: 5;">
    <table>
        <tr>
            <td style="font-size: large;padding-left: 2px;">
                New orders just placed
            </td>
        </tr>
        <tr>
            <td style="padding-top: 5px;padding-bottom: 5px;padding-top: 5px;padding-bottom: 5px;padding-left: 2px;">
                Order Token <a></a>
            </td>
        </tr>
    </table>
</div>


