<div class="modal-content">
    <button type="button" class="close" ng-click="close()">×</button>
    <div class="modal-body signup-modal" style="height:400px;">
        <div>
            <div class="row">
                <div class="col-sm-12">
                    <p>
                        {{errorMessage}}
                    </p>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-12">
                    <button ng-click="close()" value="Close">Close</button>
                </div>

            </div>

        </div>

    </div>
</div>